<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>

    <label for="recipes">Recipes:
        <div id="recipes" th:each="recipe : ${recipes}">
            <a th:href="@{'/recipes/' + ${recipe.id}} " th:text="|${recipe.id}. ${recipe.title}|">Recipe</a>
        </div>
    </label>
</body>
</html>