<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
</head>
<body>
    <div th:insert="~{fragment :: header}"></div>
    <br>
    <a th:href="@{'/recipes/'+ ${recipe.id} + '/update'}" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"> Update Recipe - | - </a>
    <a th:href="@{'/recipes/'+ ${recipe.id} + '/delete'}" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"> Delete Recipe </a><br>

    <h3 th:text="${recipe.title}">Title</h3>
    <br>
    <label for="category">Category:
        <span id="category" th:text="${recipe.categoryRecipe.category}">CategoryRecipe</span>
    </label><br>
    <label for="description">Description:
        <span id="description" th:text="${recipe.description}">Description</span>
    </label><br>
    <label for="author">Author:
        <span id="author" th:text="${recipe.author.name}">Author</span>
    </label><br>
    <label for="measure">Measure:
        <span id="measure" th:text="${recipe.measure}">Measure</span>
    </label><br>
    <label for="products">Products:
        <ul>
            <li th:each="product : ${recipe.products}">
                <span id="products" th:text="${product.name}">Product Name</span><br>
            </li>
        </ul>
    </label>
</body>
</html>